body {
    margin-left: 0px;
    margin-right: 0px;

}
header {
    background: #ffffff;
    width: 100%;
    height: 75px;
    border-bottom: 2px solid #cccccc;
    margin-top: 15px;
}
.headerBox {
    position: relative;
    margin-left: 100px;
    height: 75px;
    background: #ffffff;
}
#titleBox {
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
    width: 200px;
    height: 50px;
    margin-top: 15px;
    margin-right: 0px;
}
#aboutLink {
    clear: both;
    background: magenta;
    float: right;
}
/*.headerBox {
 height: 60px;
 width: 960;
 position: relative;

}
.nameBox {
    text-align: center;
    height: 60px;
    width: 200px;
    background:#4aaaa5;
}*/